.checkbox-list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .checkbox-item {
        flex-direction: column;
        align-items: flex-start;
    }

.checkbox-item label {
    margin-top: 5px;
}
}
